<div id="{{ tool_id }}"></div>


<script>
    (function () {
        // The Django based web API uses a class-based view at a single URL for all interaction with
        // the client side tool.
        // Here we define the callbacks that connect the `LabellingTool` instance with the
        // server side API.
        var get_labels = function(image_id) {
            $.ajax({
                type: 'GET',
                url: '{{ labelling_tool_url }}' + '?labels_for_image_id=' + image_id,
                success: function(response) {
                    if (response.error === undefined) {
                        tool.loadLabels(response, null);
                    }
                },
                dataType: 'json'
            });
        };

        {% if enable_locking %}
            var get_next_unlocked_image_id = function(current_image_id) {
                $.ajax({
                    type: 'GET',
                    url: '{{ labelling_tool_url }}' + '?next_unlocked_image_id_after=' + current_image_id,
                    success: function(response) {
                        if (response.error === undefined) {
                            tool.goToImageById(response.next_unlocked_image_id);
                        }
                    },
                    dataType: 'json'
                });
            };
        {% else %}
            var get_next_unlocked_image_id = null;
        {% endif %}

        var update_labels = function(label_header) {
            var labels_json_str = JSON.stringify(label_header);

            // Create the POST data
            var post_data = {
                labels: labels_json_str
            };

            $.ajax({
                type: 'POST',
                url: '{{ labelling_tool_url }}',
                data: post_data,
                success: function(msg) {
                    tool.notifyLabelUpdateResponse(msg);
                },
                dataType: 'json'
            });
        };

        var tool = new labelling_tool.LabellingTool($("#{{ tool_id }}")[0],
                {{ label_classes | safe }},
                {{ width }},
                {{ height }},
                {{ image_descriptors | safe }},
                {{ initial_image_index | safe }},
                get_labels,
                update_labels,
                get_next_unlocked_image_id,
                {{ config | safe }}
        );


        // CSRF Token setup
        var csrftoken = Cookies.get('csrftoken');
{#        var csrftoken = '{{ csrf_token }}';#}
        if (csrftoken != null) {
            // Adapted from Django DOCS
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }
    })();
</script>